@{
    ViewData["Title"] = "Inicio";
}

<div class="container py-5">
    <div class="p-5 mb-4 bg-light rounded-3 shadow-sm border">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold text-dark">¡Hola, Docente!</h1>
            <p class="col-md-8 fs-4 mx-auto text-muted">
                Bienvenido a tu plataforma académica. Aquí podrás gestionar tus alumnos y consultar sus datos escolares de manera rápida.
            </p>
            <hr class="my-4">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            </div>
        </div>
    </div>
</div>